[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/GLFW/glfw
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/cpptrace"]
	path = vendor/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/stb/stb"]
	path = vendor/stb/stb
	url = https://github.com/nothings/stb
[submodule "vendor/imgui/imgui"]
	path = vendor/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/sol2"]
	path = vendor/sol2
	url = https://github.com/ThePhD/sol2
[submodule "vendor/luajit"]
	path = vendor/luajit
	url = https://github.com/WohlSoft/LuaJIT
